<html>
<head>
        <meta charset="UTF-8">
        <title>
                Blogly
        </title>
        <link rel="stylesheet"
                href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/static/style.css">
</head>
<body>
        <div class="container mt-5">

        <h1>Sorry, this is not the page you're looking for.</h1>
        <iframe src="https://giphy.com/embed/8L0Pky6C83SzkzU55a"
                width="480"
                height="480"
                frameBorder="0"
                class="giphy-embed ml-auto mr-auto d-block"
                allowFullScreen>
        </iframe>
        </div>
</body>
</html>


